<html xmlns:th="http://www.thymeLeaf.org">
<head>
    <title>Ajout Client</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/static/css/style.css" th:href="@{/css/style.css}"/>
    <script src="/static/js/jquery-1.11.0.min.js" th:src="@{/js/jquery-1.11.0.min.js}"></script>
    <script src="/static/js/jquery-migrate-1.2.1.min.js" th:src="@{/js/jquery-migrate-1.2.1.min.js}"></script>
    <script src="/static/css/bootstrap-3.3.6-dist/js/bootstrap.min.js"
            th:src="@{/css/bootstrap-3.3.6-dist/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="/static/css/bootstrap-3.3.6-dist/css/bootstrap.min.css"
          th:href="@{/css/bootstrap-3.3.6-dist/css/bootstrap.min.css}"/>
</head>
<body>

    <div th:include="/includes/header :: header"></div>

    <div class="col-md-6 col-sm-6 col-xs-12 spacer col-md-offset-3 col-sm-offset-3">

    </div>

    <div class="col-md-8 col-md-offset-2 spacer">
        <div class="panel panel-info">
            <div class="panel panel-heading">
                Ajout Nouveau Produit <a th:href="@{/produit/page}" class="send-right">List Des Produits</a>
            </div>
            <div class="panel panel-body">

                <form th:action="@{/client/add}" method="post" th:object="${client}" class="form-horizontal">
                    <div class="form-group">
                        <label for="nom" class="control-label col-sm-2">Nom : </label>
                        <div class="col-sm-10">
                            <input type="text" th:field="*{nom}" id="nom" class="form-control"/>
                        </div>
                        <span th:errors="*{nom}" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="prenom" class="control-label col-sm-2">Prenom : </label>
                        <div class="col-sm-10">
                            <input type="text" th:field="*{prenom}" id="prenom" class="form-control"/>
                        </div>
                        <span th:errors="*{prenom}" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="adresse" class="control-label col-sm-2">Adresse : </label>
                        <div class="col-sm-10">
                            <input type="text" th:field="*{adresse}" id="adresse" class="form-control"/>
                        </div>
                        <span th:errors="*{adresse}" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="telephone" class="control-label col-sm-2">Telephone : </label>
                        <div class="col-sm-10">
                            <input type="text" th:field="*{telephone}" id="telephone" class="form-control"/>
                        </div>
                        <span th:errors="*{telephone}" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary center-block">Ajouter</button>
                </form>
            </div>
        </div>
    </div>

</body>
</html>