<html xmlns:th="http://www.thymeLeaf.org">
<head>
    <title>Ajout Produit</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/static/css/style.css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" href="/static/css/bootstrap-3.3.6-dist/css/bootstrap.min.css" th:href="@{/css/bootstrap-3.3.6-dist/css/bootstrap.min.css}" />
</head>
<body>


    <div th:include="/includes/header :: header"></div>

    <div class="col-md-8 col-md-offset-2 spacer">
        <div class="panel panel-info">
            <div class="panel panel-heading">
                Ajout Nouvel Produit <a th:href="@{/produit/page}" class="send-right">List Des Produits</a>
            </div>
            <div class="panel panel-body">
                <form th:action="@{/produit/add}" method="post" th:object="${produit}" class="form-horizontal">
                    <div class="form-group">
                        <label for="nomProduit" class="control-label col-sm-2">Nom Produit: </label>
                        <div class="col-sm-10">
                            <input type="nomProduit" th:field="*{nomProduit}" id="nomProduit" class="form-control" required="required"/>
                        </div>
                        <span th:errors="*{nomProduit}" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="quantite" class="control-label col-sm-2">Quantité : </label>
                        <div class="col-sm-10">
                            <input type="text" th:field="*{quantite}" id="quantite" class="form-control" required="required"/>
                        </div>
                        <span th:errors="*{quantite}" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="prix" class="control-label col-sm-2">Prix : </label>
                        <div class="col-sm-10">
                            <input type="text" th:field="*{prix}" id="prix" class="form-control" required="required"/>
                        </div>
                        <span th:errors="*{prix}" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary center-block">Ajouter</button>
                </form>
            </div>
        </div>
    </div>
    
</body>
</html>