<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Profile</title>
    <link rel="stylesheet" href="/static/css/style.css" th:href="@{/css/style.css}"/>
    <script src="/static/js/jquery-1.11.0.min.js" th:src="@{/js/jquery-1.11.0.min.js}"></script>
    <script src="/static/js/jquery-migrate-1.2.1.min.js" th:src="@{/js/jquery-migrate-1.2.1.min.js}"></script>
    <script src="/static/css/bootstrap-3.3.6-dist/js/bootstrap.min.js" th:src="@{/css/bootstrap-3.3.6-dist/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="/static/css/bootstrap-3.3.6-dist/css/bootstrap.min.css" th:href="@{/css/bootstrap-3.3.6-dist/css/bootstrap.min.css}"/>
</head>
<body>

    <div th:include="/includes/header :: header"></div>

    <h1>Profile</h1>


    <div th:if="${#authorization.expression('isAuthenticated()') and #strings.contains(#authentication.principal.authorities,'ADMIN')}">
        Is An Admin
    </div>

    <div class="panel panel-body">
        <main id="commande">
            <article>
                <div class="date">
                    <label for="username">Nom Utilisateur : </label>
                    <span th:inline="text" id="username">[[${#httpServletRequest.remoteUser}]]</span>
                </div>

                <div class="produitsList">
                    <label for="roles">Vos Roles :</label>
                    <ul th:each="auth : ${authorities}" id="roles">
                        <li th:text="${auth.getAuthority()}" class="label label-primary"></li>
                    </ul>
                </div>
            </article>
        </main>

    </div>

    <div th:include="/includes/footer :: footer"></div>
</body>
</html>